<div class="card" style="width: 45rem;">
  <div class="card-body">
    {% if obj.image %}
        <img class="card-img-top img-fluid" src="{{ obj.image }}" alt="{{ obj.title}} image">
    <a/>
    {% endif %}
    <h5 class="card-title">{{ obj.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">by:{{ obj.user.first_name }}</h6>
    {% if not detail %}
    <p class="card-text">{{ obj.content|linebreaks|truncatewords:15 }}</p>
    <a href="{{ obj.get_absolute_url }}" class="card-link">View</a>
    {% else %}
    <p class="card-text">{{ obj.content|linebreaks }}</p>
    {% endif %}
  </div>
</div>